doctype html
html(lang="en")
	head
		include includes/head
		link(href="css/bootstrap-editable.css" rel="stylesheet")
		script(src="js/bootstrap-editable.min.js")
		script(src="js/robin/settings.js")
	body
		div.container
			include includes/header
			div.row.clearfix
				div.col-md-2.column
					include includes/leftcolumn

				div.col-md-6.column

					table.table.table-striped
						thead
							th Setting
							th Value
						tbody
							tr
								td Name
								td
									a#name(href="#" data-type="text" data-title="Name") #{settings.name}
							tr
								td Audio Device
								td
									a#audiodevice(href="#" data-type="text" data-title="Audio Device") #{settings.audiodevice}
							tr
								td Language
								td
									a#language(href="#" data-type="select" data-title="Language") #{settings.language}

				div.col-md-4.column
					include includes/rightcolumn

		script.
			var languages = "#{languages}";
			var settings =
			{
				_id:'#{settings._id}',
				_key:#{settings._key},
				_rev:#{settings._rev},
				audiodevice:'#{settings.audiodevice}',
				language:'#{settings.language}',
				lastCommand:{},
				name:'#{settings.name}',
				version:'#{settings.version}'
			}
